.App {
  text-align: center;
}

button{
  padding: 20px;
  border: 1px solid black;
  margin: 3px;
  background-color: rgb(221, 221, 253);
  border-radius: 9px;
  
}

input{
  margin-top: 200px;
  padding: 15px;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 15px;
}
div{
  background-image: url(https://graphicriver.img.customer.envatousercontent.com/files/86232890/Calculator%20a%20background590.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=118c4613229b3fd26e5834b0f5d44ff5);
}
